@model MShed_Web.Models.UIModel.Qual.QualModel

@{ 
    string shortenDescription_s = "";
    List<MShed_Web.Models.UIModel.Qual.QualSubjectModel> qualSubjectUIList_k = (List<MShed_Web.Models.UIModel.Qual.QualSubjectModel>)ViewData["QualSubjectList"];
}
<div class="container DisplayArea g-pt-10">

    <!-- Course Details -->
    <div id="carouseDetails" class="row g-pb-20">
        <div class="col-lg-1 g-mb-20 g-mb-0--lg">
            <span class="u-icon-v1 u-icon-size--xl g-color-main g-bg-secondary g-font-size-30 rounded-circle">
                <i class="icon-education-001 u-line-icon-pro"></i>
            </span>
        </div>

        <div class="col-lg-11">
            <div class="g-pl-15--lg">
                <h2>@Model.Qual_s</h2>
                <p>@Model.Qual_Description_s</p>

                <div class="row">
                    <ul class="col-md-12 g-color-text-light-v1 g-font-size-15 g-pl-30 mb-0">
                        <li class="py-1">Duration: @Model.Qual_Duration_s</li>
                        <li class="py-1">Age Group: @Model.Qual_AgeGroup_s</li>
                        <li class="py-1">Qualification Type: @Model.QualType_s</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Course Details -->
    <!-- Icon Blocks -->
    <div class="row">

        @{

            foreach (MShed_Web.Models.UIModel.Qual.QualSubjectModel qualSubjectModel_o in qualSubjectUIList_k)
            {
                shortenDescription_s = "";

                if (!string.IsNullOrEmpty(qualSubjectModel_o.QualSubject_Description_s))
                {
                    shortenDescription_s = (qualSubjectModel_o.QualSubject_Description_s.Length > 135) ? qualSubjectModel_o.QualSubject_Description_s.Substring(0,135) + "..." :  qualSubjectModel_o.QualSubject_Description_s;
                }

                <div class="col-lg-6 g-mb-30">
                    <!-- Media -->
                    <div class="media u-block-hover u-shadow-v34 g-bg-white rounded g-overflow-hidden g-px-40 g-py-50">
                        <div class="d-flex g-mr-30">
                            <span class="u-icon-v1 u-icon-size--xl g-color-main g-color-primary--hover g-bg-secondary rounded-circle">
                                <i class="g-font-size-45 icon-education-007"></i>
                            </span>
                        </div>
                        <div class="media-body">
                            <h3 class="h4 g-color-main g-color-primary--hover g-font-primary">@qualSubjectModel_o.QualSubject_s <i class="g-font-size-16 mr-2 material-icons">arrow_forward</i></h3>
                            <p class="mb-0">@shortenDescription_s</p>
                        </div>
                        <a class="u-link-v2 g-z-index-2" href="@Url.Action("SingleQualSubjectIndex","Home", new { id = qualSubjectModel_o.PK_QualSubject_ID_s })"></a>
                    </div>
                    <!-- End Media -->
                </div>
            }

        }

    </div>
    <!-- End Icon Blocks -->
</div>