@using MShed_Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@*
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>

            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@
<!-- Signin Form -->
<div class="g-bg-img-hero g-bg-pos-top-center" style="background-image: url(assets/include/svg/svg-bg2.svg);">
    <div class="container g-pt-5 g-pb-5 g-pb-5--lg">
        <div class="g-pos-rel">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <!-- Heading -->
                    <div class="g-mb-40">
                        <h2 class="h1 mb-3">Sign in to Ram tutors</h2>
                        <p>Registered users please login using your email address and password. If you have any questions or issues with login please contact abc@emailme.com</p>
                    </div>
                    <!-- End Heading -->
                </div>
                <div class="col-md-6">
                    <!-- Contact Form -->
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <!-- Signin -->
                        <div id="signin">
                            <div class="u-shadow-v35 g-bg-white rounded g-px-40 g-py-50">

                                <div class="g-mb-20">
                                    <label class="g-color-text-light-v1 g-font-weight-500">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-prepend g-width-50 g-brd-secondary-light-v2 g-bg-secondary g-rounded-right-0">
                                            <div class="input-group-text justify-content-center w-100 g-bg-secondary g-brd-secondary-light-v2">
                                                <i class="icon-education-166 u-line-icon-pro"></i>
                                            </div>
                                        </span>
                                        <input class="form-control g-brd-secondary-light-v2 g-bg-secondary g-bg-secondary-dark-v1--focus g-rounded-left-0 g-px-20 g-py-12" type="email" id="Email" name="Email">
                                    </div>
                                </div>

                                <div class="g-mb-20">
                                    <label class="g-color-text-light-v1 g-font-weight-500">Password</label>
                                    <div class="input-group">
                                        <span class="input-group-prepend g-width-50 g-brd-secondary-light-v2 g-bg-secondary g-rounded-right-0">
                                            <div class="input-group-text justify-content-center w-100 g-bg-secondary g-brd-secondary-light-v2">
                                                <i class="icon-finance-135 u-line-icon-pro"></i>
                                            </div>
                                        </span>
                                        <input class="form-control g-brd-secondary-light-v2 g-bg-secondary g-bg-secondary-dark-v1--focus g-rounded-left-0 g-px-20 g-py-12" type="password" id="Password" name="Password">
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between align-items-center">
                                    <a class="g-color-text-light-v1 g-font-size-default" id="forgot-password-link" href="#">Forgot Password?</a>
                                    <button type="submit" class="btn u-shadow-v33 g-color-white g-bg-primary g-font-size-default rounded g-px-25 g-py-7">Signin</button>
                                </div>
                            </div>
                        </div>
                        <!-- End Signin -->
                    }
                    <!-- End Contact Form -->

                    <hr class="g-hidden-md-up g-my-60">
                </div>
   
                
            </div>
        </div>
    </div>
</div>
<!-- End Signin Form -->